body{
    text-align: center;
    align-items: center;
}

.snake-card{
    background-color: transparent;
    border: none;
    width: 500px;
    margin: 0 auto;
}

.heading{
    background-color: #61a5e4;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#gameboard{
    background-color: #163d63;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template: repeat(16, 1fr)/ repeat(16, 1fr);
}

#current-score, #high-score{
    font-size: 20px;
}

#snake-name{
    margin: 0, auto;
}

