.game-card {
    background: #333;
}

.game-box {
    background:gray;
    padding: 20px;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    text-align: center;
}

#num-field {
    width: 120px;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #444
}