.game-card {
    background: #222;
}

.game-box {
    background:black;
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
}

#num-field {
    width: 120px;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(163, 180, 255)
}

#message-text {
    color: #FF3535;
    font-size: 18px;
    font-weight: bold;
}

#guess-count-text {
    font-weight: bold;
}